.action {
    display: inline-flex;
    font-size: 18px;
    color: #ccc;
    font-family: "Fira Code" , Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
    
}
.action::before {
    content: "";
    background-color: #ccc;

    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.action:hover {
color: #fff;
}