.button{
    display: inline-block;
    background-color: #212121;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 18px 20px;
   /* box-shadow: 5px 5px 0px rgb(0, 0, 0);*/
    margin-right: 0px;
    transition: 1s;
    text-decoration: none;    
}
.button:hover {
    background-color: #474747;
    transform: scale(1.1);
    color: white;
}