header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(78, 134, 255);
    border-bottom: 8px solid rgb(2, 41, 172);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}