.main-title, .main-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color:#ffffff;
    /*text-shadow: 2px 2px 1px #fff;*/   
}
.main-title.-second{
    color: #000;
    text-align: center;
}
.main-title.-secondP{
    color: #ffffff;
    text-align: center;
}